{% extends 'layoutLogin.html' %}

{% block body %}
<h1 class="text-center"> Seleccione una opción</h1>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
              Proyecto UNO
            </div>
            <div class="card-body">
              <h5 class="card-title">Primer proyecto</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/index" class="btn btn-primary">Ir al proyecto</a>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
              Proyecto DOS
            </div>
            <div class="card-body">
                <h5 class="card-title">Segundo proyecto</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/index" class="btn btn-primary">Ir al proyecto</a>
            </div>
          </div>
    </div>
{% endblock %}
